[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "linux/private_lib/Haris_Engine_Library"]
	path = linux/private_lib/Haris_Engine_Library
	url = git@github.com:lequochaidevh/Haris_Engine_Library.git
